.info {
  display: flex;
}

.Header {
  color: purple;
}

.font {
  display: flex;
}
.rate1 {
  display: flex;
  background-color: thistle;
  margin-top: 5%;
}
.rate2 {
  display: flex;
  background-color: thistle;
  margin-top: 5%;
}

.rate3 {
  display: flex;
  background-color: thistle;
  margin-top: 5%;
}
